In [38]:
import pandas as pd
import numpy as np

data = pd.read_csv(r'nipah_virus_datasets1.csv')
data.head(5)

,GENUS,GLYCOPROTEIN,SPECIES/Strains,UNIPROT ID,AA LENGTH,Pi,Mol.Wt(KD),Hydropathy,Helix (%),Loop,Strand,E(%),T,Q,G,label
0,HENIPA VIRUS,G,NIPAH VIRUS,Q9IH62,602,8.58,67.05,-0.17,12.46,58.46,28.90,4.32,6.15,4.15,6.64,YES
1,NaN,NaN,HENDRA VIRUS,O89343,604,7.42,67.20,-0.12,13.58,58.94,27.48,3.64,6.29,4.14,6.13,YES
2,NaN,NaN,CEDAR VIRUS,J7H333,622,7.08,70.64,-0.33,12.38,59.00,28.62,4.34,6.75,3.22,4.66,YES
3,NaN,NaN,GHANIAN VIRUS,I0E093,632,7.96,72.30,-0.29,12.50,60.28,27.22,4.75,9.18,3.22,3.96,YES
4,NaN,NaN,MOJIANG VIRUS,W8TIR7,625,5.63,69.12,-0.27,12.16,59.68,28.16,4.00,8.16,4.16,7.68,YES

In [39]:
X = data.iloc[:, 4:15] #training data
X.head(5)

,AA LENGTH,Pi,Mol.Wt(KD),Hydropathy,Helix (%),Loop,Strand,E(%),T,Q,G
0,602,8.58,67.05,-0.17,12.46,58.46,28.90,4.32,6.15,4.15,6.64
1,604,7.42,67.20,-0.12,13.58,58.94,27.48,3.64,6.29,4.14,6.13
2,622,7.08,70.64,-0.33,12.38,59.00,28.62,4.34,6.75,3.22,4.66
3,632,7.96,72.30,-0.29,12.50,60.28,27.22,4.75,9.18,3.22,3.96
4,625,5.63,69.12,-0.27,12.16,59.68,28.16,4.00,8.16,4.16,7.68

In [40]:
y = data.iloc[:, -1] #target
y.head(5)

0    YES
1    YES
2    YES
3    YES
4    YES
Name: label, dtype: object

In [41]:
X.shape

(76, 11)

In [42]:
y.shape

(76,)

In [43]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,
                                                    test_size=0.30)

In [44]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=1)

In [45]:
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=1)

In [46]:
pred = knn.predict(X_test)

In [47]:
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.model_selection import cross_val_score

In [48]:
print(confusion_matrix(y_test,pred))

[[ 8  0]
 [ 1 14]]

In [49]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

          NO       0.89      1.00      0.94         8
         YES       1.00      0.93      0.97        15

    accuracy                           0.96        23
   macro avg       0.94      0.97      0.95        23
weighted avg       0.96      0.96      0.96        23

In [56]:
X_new = np.array([[602,8.58,67,-0.15,12,50,28,4,6,4,5]])
prediction = knn.predict(X_new)
prediction

array(['YES'], dtype=object)

In [57]:
X1_new = np.array([[400,5,50,-0.1,12,40,50,28,1,2,3]])
prediction = knn.predict(X1_new)
prediction

array(['NO'], dtype=object)

In [52]:
X.head(2)

,AA LENGTH,Pi,Mol.Wt(KD),Hydropathy,Helix (%),Loop,Strand,E(%),T,Q,G
0,602,8.58,67.05,-0.17,12.46,58.46,28.90,4.32,6.15,4.15,6.64
1,604,7.42,67.20,-0.12,13.58,58.94,27.48,3.64,6.29,4.14,6.13